html{
	background-color: rgb(70,162,189);
}

body{
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: rgb(70,162,189);
	color:black;
}

hr{
	background-color:white;
	padding:1px;
}

h1{
	margin-left:20px;
}
/*NAVIGATION BAR STYLES*/

.nav {
	background-color: grey;
}

.nav li {
	display:inline;
	padding-right:5px;
	color: white;
	border-right: 2px solid black;
}

.name{
	font-size: 37px;
}

.nav a {
	width:20px;
	height:20px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding-right: 5px;
	padding-left: 10px;
}

.nav a:hover { 
	background-color:rgb(100,100,100);
	text-decoration: none;
	color:white;
}
/*ABOUT SECTION STYLES*/

#aboutSec img{
	background-color: white;
	border-radius: 2px;
	padding:1px;
	margin: auto;
}

#aboutSec p {
	font-size: 30px;
	text-align: center;
}

#aboutSec h1 {
	font-size:60px;
	color:white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px
}

/*WORK SECTION STYLING*/

#workSec{
	background-color: rgb(70,162,189);
	width:100%;
}
#workSec h1{
	font-size:60px;
	color:white;
	padding-bottom:30px;
}
#workSec img {
	margin:0 auto;
	border:solid 2px black;
	margin-bottom:20px;
}

#workSec p {
	font-size: 30px;
	text-align: center;
	color:black;
}
/*CODE SECTION STYLING*/
#codeSec h1{
	font-size:60px;
	color:white;
	text-align: left;
	padding-bottom:30px;
}
#codeSec img{
	border-radius: 12%;
	display:block;
	margin:auto;
}

#codeSec h2{
	text-align: center;
}

#codeSec p {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
	font-size:20px;
}

/*ART SECTION STYLING*/
#artSec h1{
	font-size:60px;
	color:white;
	padding-bottom:30px;
}

#artSec #box {
	margin: 0 auto;
	width: 620px;
	height: 350px;
	background: rgb(50,50,50);
	position: relative;
	padding:20px;
	border-radius:2px;
	margin-bottom:10px;
}
#artSec #box img {
	border:solid 2px white;
	margin:2px;
	max-height:150px;
	max-width:200px;
	width: auto;
	height: auto;
	background-color: grey;
	float:left;
}

#artSec #bigimg{
	border:solid 2px white;
	background-color:grey;
	height:400px;
	width:500px;
	margin:0 auto;
}
#artSec h3 {
	font-size: 44px;
	color: white;
	text-align: center;
	margin-top: 150px;
}

#desc {
	font-size: 20px;
	margin-top:10px;
	text-align: center;
}
/*CONTACT SECTION STYLING*/
#contactSec{
	background-color: grey;
}
#contactSec h1{
	font-size:60px;
	color:white;

}

#contactSec li {
	margin-bottom:5px;
	text-decoration: none;
	list-style-type: none;
	font-size:30px;
}

#social li{
	display: inline-block;
	float:left;
	margin-right:10px;
	width:40px;
}
/*FOOTER STYLING*/
footer a{
	font-size: 30px;
	color: white;
	text-decoration: none;
}
footer a:hover{
	text-decoration: none;
}
footer img{
	width:67px;
	display: inline-block;
	padding-left:10px;
	padding-right:10px;
	border-radius: 3px;
}

footer{
padding-bottom: 10px;
}
