html{
/*	background-image: url('../images/background.jpg');
*/	background-repeat: repeat-y;
}

body{
	font-family: 'Alegreya Sans SC', sans-serif;
	background-image: url('../background/background.jpg') ;
	color:black;
}

hr{
	background-color:white;
	padding:1px;
}

h1{
	margin-left:20px;
}
/*NAVIGATION BAR STYLES*/

.nav {
	background-color: grey;
	border-bottom: 2px solid white;
}

.nav li {
	display:inline;
	padding-right:5px;
	color: white;
	border-right: 2px solid black;
}

.nav li:last-child{
	border-right: 0px solid black;
}

.name{
	font-size: 37px;
}

.nav a {
	width:20px;
	height:20px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding-right: 5px;
	padding-left: 10px;
}

.nav a:hover { 
	background-color:rgb(100,100,100);
	text-decoration: none;
	color:white;
}
/*Header SECTION STYLES*/
#header{
	background: url('../backgrounds/me.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
  border-bottom: 1.5px solid grey;
}
.section-overlay-mask {
position: absolute;
left: 0;
width: 100%;
height:400px;
background-color: #000000; opacity: 0.60;
display: block;
}

#header h1 {
	font-size:60px;
	color:white;
	text-align: center;
	padding-top: 90px;
}
#header .col-md-12{
	height:70%;
}
#header p {
	font-size: 20px;
	text-align: center;
	color:white;
}

/*ABOUT SECTION STYLES*/
#aboutSec{
	border-bottom: 1px solid #dbdbdb;
	background-color: lightgrey;
	height: 300px
}



/*WORK SECTION STYLING*/

#workSec{
	background: url('../backgrounds/desk.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1.5px solid grey;
}
#workSec h1{
	font-size:60px;
	color:white;
	padding-bottom:30px;
}
#workSec h3{
	text-align: center;
}
#comp{
	position: relative;
}
#comp:hover{
	cursor:pointer;
}


#comp img{
	margin: 0 auto;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
	position: relative;
	z-index: 0;
}

#workSec li{
	text-decoration: none;
	display: inline;
	z-index: 1;
	position: relative;
}
#workSec li img{
	width: 60px;
}

#workSec .work {
	margin:0 auto;
	border:solid 2px black;
	margin-bottom:20px;
	display: block;
}

#workSec p {
	font-size: 30px;
	text-align: center;
	color:black;
}

/*CODE SECTION STYLING*/
#codeSec{
background: url('../backgrounds/terminal.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1.5px solid grey;
}
#codeSec h1{
	font-size:60px;
	color:white;
	text-align: left;
	padding-bottom:30px;
}
#codeSec img{
	border-radius: 12%;
	display:block;
	margin:auto;
}

#codeSec h2{
	text-align: center;
	color:white;
}

#codeSec p {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
	font-size:20px;
}


/*ART SECTION STYLING*/
#artSec{
	background: url('../backgrounds/paper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1.5px solid grey;
}
#artSec{
	padding-bottom: 20px;
}
#artSec h1{
	font-size:60px;
	color:white;
	padding-bottom:30px;
}

#artSec #box {
	margin: 0 auto;
	width: 615px;
	height: 350px;
	background: url('../backgrounds/wood.jpg');
	position: relative;
	padding:20px;
	border-radius:2px;
	margin-bottom:10px;
}
#artSec #box img {
	border:solid 1px white;
	margin:2px;
	max-height:150px;
	max-width:200px;
	width: auto;
	height: auto;
	background: url('../backgrounds/wood.jpg');
	float:left;
}

#artSec #box img:hover {
	opacity: .6;
}

#artSec #bigimg{
	border:solid 1px black;
	background: url('../backgrounds/wood.jpg');
	background-position: -116px 161px;
	height:400px;
	width:500px;
	margin:0 auto;
}
#bigimg img{
	padding:3px;
}
#artSec h3 {
	font-size: 44px;
	color: white;
	text-align: center;
	margin-top: 150px;
}

#desc {
	font-size: 20px;
	margin-top:10px;
	text-align: center;
}
/*CONTACT SECTION STYLING*/
#contactSec{
	background-color: darkgrey;
    border-bottom: 1.5px solid white;
}
#contactSec h1{
	font-size:60px;
	color:white;
}

#contactSec li {
	margin-bottom:5px;
	text-decoration: none;
	list-style-type: none;
	font-size:30px;
}

#social li{
	display: inline-block;
	float:left;
	margin-right:10px;
	width:40px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    padding: 1em;
    display: none;
    opacity:.65;
}
.back-to-top img{
	width: 50px;
}


/*MEDIA QUERIES*/

@media all and (max-width: 1240px) and (min-width: 990px ) {
	#artSec #box {
	width: 350px;
	height: 420px;
	}

	#artSec #box img {
	max-height:150px;
	max-width:150px;
	}
}
@media (max-width: 620px){
	#artSec #box {
	width: 425px;
	height: 500px;
	}
}

@media (max-width: 460px){
	#artSec #box {
	width: 350px;
	height: 420px;
	}

	#artSec #box img {
	max-height:150px;
	max-width:150px;
	}
}

@media (max-width:530px) {
	#artSec #bigimg{
	height: 281px;
	width: 350px;
	}

	#artSec #bigimg img{
	max-width: 100%
	}

	#artSec h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 100px;
	}

	#aboutSec p {
	font-size: 20px;
	}
	#workSec p {
	font-size: 20px;
	}
	#contactSec li{
	font-size:20px;
	}
}

@media (max-width:560px) {
	.name{
	font-size: 0px;
	}
}

@media (max-width:498px) {
	.nav li a{
		font-size:17px;
	}
}

@media (max-width: 340px){
	#artSec #box {
	width: 280px;
	height: 1337px;
	padding: 2px;
	}

	#artSec #box img {
	max-width: 272px;
	max-height: 300px;
	}

	#artSec #bigimg{
	display: none;
	}

	#artSec #bigimg img{
	display: none;
	}

	#aboutSec h1 {
	font-size: 40px;
	}
	#workSec h1 {
	font-size: 40px;
	}
	#codeSec h1{
	font-size: 40px;
	}
	#artSec h1{
	font-size: 40px;
	}
	#contactSec h1{
	font-size:40px;
	}
}

@media (max-width: 300px){
	#artSec #box {
	width: 195px;
	height: 930px;
	padding: 2px;
	}

	#artSec #box img {
	max-width:187px;
	}

	#artSec #bigimg{
	display: none;
	}

	#artSec #bigimg img{
	display: none;
	}

	#contactSec h1{
	font-size:35px;
	}

	#contactSec li{
	font-size:15px;
	}
}



