html{
/*  background-image: url('../images/background.jpg');
*/  background-repeat: repeat-y;
}

body{
    font-family: 'Lato', sans-serif;
    color:black;
}

hr{
    background-color:white;
    padding:1px;
}

h1{
    margin-left:20px;
}

#cont{
    padding-right: 0px;
}

/*NAVIGATION BAR STYLES*/

.nav {
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 1px 2px grey;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px 15px;
    display: flex;
    li {
        display:inline;
        margin-right:5px;
        padding: 0px 15px;
    }
    a {
        text-decoration: none;
        font-size: 1em;
        color: lightgrey;
        margin-right: 5px;
        margin-left: 10px;
        transition: all, .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: relative;
        text-decoration: none;
        padding-bottom: 2px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #35A6FF;
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
            color: white;
            &:before{
                width: 100%;
            }
        }
    }
}

/*Header SECTION STYLES*/
#header{
    background: url('../images/backgrounds/me.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    border-bottom: 1.5px solid grey;
}
.section-overlay-mask {
    position: absolute;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: #000000; opacity: 0.60;
    display: block;
}

#header h1 {
    font-size: 4.5em;
    color:white;
    text-align: center;
    padding-top: 90px;
}
#header .col-md-12{
    height:70%;
}
#header p {
    font-size: 1em;
    text-align: center;
    color:white;
}
#txt{
    top:30%;
}

/*ABOUT SECTION STYLES*/
#aboutSec{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom:50px;
    background: url('../images/backgrounds/circles.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutSec h1{
    font-size:60px;
    color:black;
    padding-bottom:30px;
    font-weight:700;
    padding-top: 75px;
}
#aboutSec h2{
    font-size: 45px;
    text-align: center;
    color:black;
}
#aboutSec p{
    font-size: 25px;
    text-align: left;
    color:black;
    padding-bottom: 30px;
}

/*About CSS Transitions*/

#aboutSec li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

#aboutSec .circ{
    padding-top: 30px;
    width:300px;
    height:300px;
    box-shadow:
    inset 0 0 0 0 rgba(200,95,66, 0.4),
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 20px
}
#aboutSec h6{
    text-align: center;
    font-size:25px;
    padding-top:20px;
    padding-bottom:5px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:
    inset 0 0 0 0 rgba(200,95,66, 0.4),
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.ch-big {
    background-image: url(../images/circbig.jpg);
}
.ch-img-1 {
    background-image: url(../images/circ1.jpg);
}

.ch-img-2 {
    background-image: url(../images/circ2.jpg);
}

.ch-img-3 {
    background-image: url(../images/circ3.jpg);
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
    h3 {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        font-size: 22px;
        /* margin: 0 30px; */
        padding: 65px 0 0 0;
        height: 110px;
        font-family: 'Open Sans', Arial, sans-serif;
        text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
        text-align: center;
    }

    p {
        color: #fff;
        padding: 10px 5px;
        font-style: italic;
        margin: 0 30px;
        font-size: 12px;
        border-top: 1px solid rgba(255,255,255,0.5);
        font-family: 'Open Sans', Arial, sans-serif;
        a {
            display: block;
            color: rgba(255,255,255,0.7);
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 9px;
            letter-spacing: 1px;
            padding-top: 4px;
            font-family: 'Open Sans', Arial, sans-serif;
            &:hover {
                color: rgba(255,242,34, 0.8);
            }
        }
    }

    &:hover {
        box-shadow:
        inset 0 0 0 110px rgba(0,59,241, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
        .ch-info {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/*WORK SECTION STYLING*/

#workSec{
    font-family:'Raleway', sans-serif;
    background: url('../images/backgrounds/desk.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 50px;
    border-bottom: 1.5px solid grey;
    padding:20px;

    h1{
        font-size:60px;
        color:brown;
        padding-bottom:10px;
        font-weight:700;
        padding-top: 15px;
    }

    h5{
        text-align: center;
    }

    #comp{
        position: relative;
        padding-bottom: 20px;
        &:hover{
            cursor:pointer;
        }
        img{
            margin: 0 auto;
            background-size: 100% 100%;
            height: 80%;
            width:80%;
            position: relative;
        }
    }
    li{
        text-decoration: none;
        display: inline;
        position: relative;
        img{
            width: 60px;
        }
    }
    .work {
        margin:0 auto;
        border:solid 2px black;
        margin-bottom:20px;
        display: block;
        width:50%;
    }

    p {
        font-size: 20px;
        text-align: center;
        color:black;
        padding-bottom: 21px;
    }

    h5 {
        font-size: 15px;
        padding-top: 20px;
    }
    #icon{
        left:50%;
    }
}

/*CODE SECTION STYLING*/
#codeSec{
    font-family: 'Press Start 2P', cursive;
    background: url('../images/backgrounds/terminal.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1.5px solid grey;
    color:rgb(4, 108, 4);
    height: 100%;
    padding-bottom:50px;
    padding:30px;

    h1{
        font-size:40px;
        color:white;
        text-align: left;
        padding-bottom:30px;
        padding-top: 50px;
    }
    img{
        border-radius: 12%;
        display:block;
        margin:auto;
    }

    h2{
        text-align: center;
        color:white;
        font-size: 20px;
    }

    p {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
        font-size:10px;
    }
}


/*ART SECTION STYLING*/
#artSec{
    background: url('../images/backgrounds/paper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1.5px solid grey;
    font-family: 'Carter One', cursive;
    height:100%;
    padding-bottom: 100px;
    h1{
        font-size:60px;
        color:black;
        padding-bottom:30px;
        padding-top: 50px;
        margin-left:40px;
    }
    #art{
        padding:40px;
    }
    #box {
        margin: 0 auto;
        width: 615px;
        height: 350px;
        /*background: url('../backgrounds/wood.jpg');*/
        position: relative;
        /*padding:20px;*/
        border-radius:2px;
        margin-bottom:10px;
        padding-bottom: 20px;
        img {
            border:solid 1px white;
            margin:2px;
            max-height:150px;
            max-width:200px;
            width: auto;
            height: auto;
            /*background: url('../backgrounds/wood.jpg');*/
            float:left;
            &:hover {
                opacity: .6;
            }
        }
    }
    #bigimg{
        border:solid 1px black;
        /*background: url('../backgrounds/wood.jpg');*/
        background-color: black;
        background-position: -116px 161px;
        width:480px;
        margin:0 auto;
        height:380px;
    }
    h3 {
        font-size: 44px;
        color: white;
        text-align: center;
        margin-top: 150px;
    }
    #desc {
        font-size: 20px;
        margin-top:10px;
        text-align: center;
    }
}

/*CONTACT SECTION STYLING*/
#contactSec{
    background: url('../images/backgrounds/city.png') center no-repeat;
    background-size: cover;

    h1{
        font-size: 2em;
        color:white;
        text-shadow: 0px 1px 2px #000;
        margin-left: 50px;
    }
    .box {
        height: 300px;
        width: 280px;
        background-color: white;
        display: block;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
        .circ {
            margin: 0 auto;
            display: block;
            width: 200px;
            height: 200px;
            border-radius: 5px;
            margin-top: 10px;
            box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
            background-size: contain;
        }
        #social {
            text-decoration: none;
            list-style-type: none;
            font-size: 30px;
            text-align: center;
            margin: 0;
            padding: 10px 0;
            li{
                display: inline-block;

                img {
                    width:50px;
                }

                &:hover{
                    img{
                        opacity:0.7;
                    }
                }
            }
        }
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #FFF;
        margin: 0 auto;
    }
}

.map {
    height:150px;
    width:100%;

    #map-canvas {
        height: 100%;
    }
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    padding: 1em;
    display: none;
    opacity:.65;
    img{
        width: 50px;
    }
}


/*MEDIA QUERIES*/
@media all and (max-width: 1240px) and (min-width: 990px ) {
    #artSec #box {
        width: 350px;
        height: 420px;
    }

    #artSec #box img {
        max-height:150px;
        max-width:150px;
    }
}

@media  (max-width: 1204px) {
    .name{
        font-size: 0px;
    }
    #workSec p{
        font-size: 30px;
    }
}

@media  (max-width: 620px){
    #artSec #box {
        width: 425px;
        height: 500px;
    }
    #workSec p{
        font-size: 25px;
    }
}

@media  (max-width: 460px){
    #artSec #box {
        width: 350px;
        height: 420px;
    }

    #artSec #box img {
        max-height:150px;
        max-width:150px;
    }
}

@media  (max-width:530px) {
    #artSec #bigimg{
        height: 281px;
        width: 350px;
    }

    #artSec #bigimg img{
        max-width: 100%
    }

    #artSec h3 {
        font-size: 30px;
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    #aboutSec p {
        font-size: 20px;
    }

    #contactSec li{
        font-size:20px;
    }
}

@media (max-width:498px) {
    .nav li a{
        font-size:17px;
    }
}

@media (max-width: 340px){

    #codeSec h1{
        font-size:25px;
    }
    #artSec #box {
        width: 280px;
        height: 1337px;
        padding: 2px;
    }

    #artSec #box img {
        max-width: 272px;
        max-height: 300px;
    }

    #artSec #bigimg{
        display: none;
    }

    #artSec #bigimg img{
        display: none;
    }

    #aboutSec h1 {
        font-size: 40px;
    }
    #workSec h1 {
        font-size: 40px;
    }
    #artSec h1{
        font-size: 40px;
    }
    #contactSec h1{
        font-size:40px;
    }
}

@media  (max-width: 300px) {
    #artSec #box {
        width: 195px;
        height: 930px;
        padding: 2px;
    }

    #artSec #box img {
        max-width:187px;
    }

    #artSec #bigimg{
        display: none;
    }

    #artSec #bigimg img{
        display: none;
    }

    #contactSec h1{
        font-size:35px;
    }

    #contactSec li{
        font-size:15px;
    }

    #workSec .work {
        max-width: 170px;
    }

    #header h1{
        font-size: 40px;
    }
    #header p{
        font-size: 13px;
    }

    #workSec h1 {
        font-size: 30px;
    }

    #workSec p {
        font-size: 13px;
    }
}



